.topbar {
    display: flex;
    align-items: center;
    background-color: var(--bg-nav);
    border-radius: 0rem 0rem 2rem 2rem; /* this will be bigger when scroll*/
    /* margin: 0.1rem; */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 0.5rem 1rem;
    gap: 0.4rem;
}

.topbar.is-scrolled {
    border-radius: 150rem;
    margin: 0.1rem;
}

.topbar .logo {
    width: 4.5rem;
    height: 4.5rem;

    color: var(--color-text-primary);
    display: block;
}

.topbar .logotext {
    color: var(--color-text-primary);
    font-family: var(--font-sans);
    font-size: 1.5rem;
    margin-left: 0.1rem;
}

.topbar nav {
    display: flex;
    gap: 1.5rem;
    margin-left: auto;

}

/* Navigation links */

.topbar nav .nav-links {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: 2rem;
}

.topbar nav .nav-links a {
    color: var(--color-text-secondary);
    text-decoration: none;
    font-family: var(--font-sans);
    position: relative;
    transition: color 0.25s ease;
    display: inline-flex;
    align-items: center;
}

.topbar nav .nav-links a.start-link {
    border: 2px solid var(--color-accent-primary);
    padding: 0.7rem 0.8rem;
    border-radius: 0.5rem;
    overflow: hidden;
    z-index: 0;
    isolation: isolate;
    color: var(--color-accent-primary);
}

/* hover */

.topbar nav .nav-links a:hover {
    color: var(--color-accent-secondary);
}

.topbar nav .nav-links a.start-link:hover {
    color: var(--color-text-primary);
}

.topbar nav .nav-links a:not(.start-link)::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -0.2rem;
    height: 2px;
    background: var(--color-accent-secondary);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s ease;
}

.topbar nav .nav-links a:not(.start-link):hover::after {
    transform: scaleX(1);
}

.topbar nav .nav-links a.start-link::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--color-accent-primary); /* color de fondo hover */
    z-index: -1;
    transform: translateX(-110%);
    transition: transform 0.35s ease;
}

.topbar nav .nav-links a.start-link:hover::before {
    transform: translateX(0);
}